{% extends 'base.html' %}

{% block extra_head %}
<head>
    <div class="flex justify-center items-center bg-[#e8e5e4] font-bold text-[#7a0204] outline-2 outline-[#54027a] rounded-md">
    Chirper
    </div>
</head>
{% endblock extra_head %}

{% block content %}
<body class="flex justify-center items-center outline-solid-10-[#54027a] rounded-md">
    <div>
        <h2>{{ chirp.content }}</h2>
        <h3>{{ chirp.user }} at {{ chirp.created_at }}</h3>
        <p>Likes: {{ chirp.likes }}</p>
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="chirp_id" value="{{ chirp.id }}">
            <button type="submit" class="bg-[#7a0204] text-[#e8e5e4]">Give egg</button>
        </form>
    </div>

    <div>
        <h3>Replies:</h3>
        {% for reply in replies %}
        <div>
            <h4>Reply to {{ reply.parent.user }}</h4>
            <h3>{{ reply.content }}</h3>
            <h4>{{ reply.user }} at {{ reply.created_at }}</h4>
            <p>Eggs: {{ reply.likes }}</p>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="chirp_id" value="{{ reply.id }}">
                <button type="submit" class="bg-[#7a0204] text-[#e8e5e4]">Give egg</button>
            </form>
        </div>
        {% endfor %}
    </div>

    <div>
        <h3>Write a reply:</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ reply_form.as_p }}
            <button type="submit" class="bg-[#7a0204] text-[#e8e5e4]">Reply</button>
        </form>
    </div>
</body>
{% endblock content %}